<div class="row">
    <div class="col-xs-12">
        <h1>{{tarea.nombre}}</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <hr>
        <div class="btn-group" appDropdown>
            <button type="button" class="btn btn-primary dropdown-toggle">Administrar <span class="caret"></span></button>
            <ul class="dropdown-menu">   
                <li><a href="">Editar</a></li>
                <li><a href="">Eliminar</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h4>{{tarea.detalle}}</h4> 
    </div>
</div>
