<div class="row">
    <div class="col-xs-12">
        <button class="btn btn-primary" (click)="onNewTarea()">Agregar Tarea</button>
        <button class="btn btn-success" style="margin-left:5px;" (click)="onFetchData()">Actuializar lista</button>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-xs-12">
        <app-tarea-item  
        *ngFor="let tareaElement of tareas; let i = index" 
        [tarea]="tareaElement"
        [index]="i"
        ></app-tarea-item>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-xs-12">
        <button class="btn btn-primary" (click)="onSaveData()">Guardar</button>
        
    </div>
</div>
